/m4/
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/confdefs.h
/config.guess
/config.h.in
/config.log
/config.sub
/configure
/config.status
/config.h
/debian/coserver4.debhelper.log
/debian/coserver4
/debian/files
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/src/.deps
/src/*_moc.cc
/src/Makefile
/src/Makefile.in
/src/coserver4
/src/coserver4-*.o
/stamp-h1
/debian/coserver4.substvars
/compile
/test-driver
/test/gtest/Makefile.in
/test/Makefile.in
/m4
