Source: coserver4
Section: science
Priority: extra
Maintainer: Norwegian Meteorological Institute met.no <diana@met.no>
Build-Depends: debhelper (>= 11),
 cmake (>= 3.10),
 pkg-config,
 qtbase5-dev,
 qtbase5-dev-tools,
 libgtest-dev,
 metlibs-milogger-dev (>= 6.0.0),
 metlibs-qutilities-qt5-dev (>= 8.0.0),
 metlibs-coserver-qt5-dev (>= 3.0.0)
Standards-Version: 3.9.2

Package: coserver4
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Diana-communication tool
 This server is based on QSockets and connects Diana to
 other Qt-based applications
