#!/usr/bin/make -f

DH_COMMAND = dh --with python2

%:
	$(DH_COMMAND) $@

override_dh_auto_configure:
	./autogen.sh
	./configure --prefix=/usr --sysconfdir=/etc --localstatedir=/var \
	    --with-gtest=/usr/src/gmock/gtest
