#!/usr/bin/make -f

%:
	dh $@ --parallel

# we skip the tests when building a package -- they are timing
# dependent and might fail intermittently
.PHONY: override_dh_auto_test
override_dh_auto_test:
	true
